body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagens/img.jpg);
}
 
div {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 3px solid rgb(32, 28, 28);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
	background-color: #f10827c4;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: #09df50;
	color: white;
	font-size: 36px;
}
 
.texto{
	margin: 15px;
}
